version: '3.8'
services:
  redis-container:
    image: redis:latest
    container_name: redis-container
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - shared-network
    restart: unless-stopped
    command: redis-server --appendonly yes  # 启用持久化

volumes:
  redis-data:
    driver: local

networks:
  shared-network:
    external: true  # 使用外部网络