version: '3.8'
services:
  mysql-container:
    image: mysql:8.0
    container_name: mysql-container
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: lightfish_db
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3306:3306"
    networks:
      - shared-network
    restart: unless-stopped

volumes:
  mysql-data:
    driver: local

networks:
  shared-network:
    external: true  # 使用外部网络